<template>
    <v-dialog max-width="900" v-model="$store.state.overlays.viewArchitect" @click:outside="turnOff()" @keydown.esc="turnOff()">
        <!--v-container class="fill-height" fluid>
            <v-row align="center" justify="center">
                <v-col cols="6"-->
        <v-card v-if="architect != undefined" class="elevation-3">
            <v-toolbar flat color="secondary" dark>
            <v-toolbar-title>View architect</v-toolbar-title>
            <v-spacer></v-spacer>
            <v-toolbar-title>Map {{$store.state.selectedMap + 1}}</v-toolbar-title>
            </v-toolbar>
            <v-card-text>
            <v-form v-model="valid" ref="form">
                <v-row>
                    <v-col>
                        <v-row dense>
                            <v-col>
                                <v-text-field
                                label="Name"
                                :rules="[rules.required]"
                                v-model="architect.name" 
                                :readonly="!isEditing" />
                            </v-col>
                            <v-col>
                                <v-text-field
                                label="Surname"
                                :rules="[rules.required]"
                                v-model="architect.surname"
                                :readonly="!isEditing" />                      
                            </v-col>
                        </v-row>
                        <v-row>
                            <v-col>
                                <v-text-field
                                v-model="architect.birthPlace"
                                :rules="[rules.required]"
                                label="Birth place"
                                :readonly="!isEditing" />
                            </v-col>        
                        </v-row>
                        <v-row>
                            <v-col>
                                <v-text-field
                                v-model="architect.nationality"
                                :rules="[rules.required]"
                                label="Nationality"
                                :readonly="!isEditing" />  
                            </v-col>             
                        </v-row>
                        <v-row>
                            <v-col>
                                <v-text-field
                                v-model="architect.dateOfBirth"
                                label="Date of birth"
                                :rules="[rules.required]"
                                :readonly="!isEditing"
                                />                      
                            </v-col>
                            <v-col>
                                    <v-text-field
                                    v-model="architect.dateOfDeath"
                                    label="Date of death"
                                    :readonly="!isEditing" 
                                    />                      
                            </v-col>
                        </v-row>
                    </v-col>
                    <v-col align="center" justify="center">
                        <v-row v-if="this.showPicture()">
                            <v-col>
                                <v-img
                                
                                :src="architect.picture" 
                                max-height=400
                                max-width=400
                                />
                                
                            </v-col>
                        </v-row>
                        <v-row v-else align="center" justify="center">
                            <v-card tile width=400 height=400>
                                <v-img
                                    src="https://www.precisemedical.co.uk/wp-content/uploads/2017/05/grey-square.png"
                                    class="align-center white--text justify-center" 
                                    height=400 width=400>
                                    <v-card-title  class="display-4 font-weight-bold justify-center">
                                        {{architect.name.charAt(0)}} {{architect.surname.charAt(0)}}
                                    </v-card-title>
                                </v-img>
                            </v-card>
                        </v-row>
                        <v-row v-if="isEditing">
                            <v-col>
                                <v-menu 
                                    v-model="menu3"
                                    :close-on-content-click="false"
                                    offset-y
                                    :nudge-width="200"
                                    :close-on-click="false"
                                    >
                                    <template v-slot:activator="{ on }">
                                        <v-btn block color="success" v-on="on">Change picture</v-btn>
                                    </template>
                                    <v-card>
                                        <v-card-text>
                                        <v-row>
                                            <v-col>
                                                <v-textarea outlined v-model="pictureUrl" label="Picture url" />
                                            </v-col>
                                        </v-row>
                                        <v-row>
                                            <v-col>
                                                <v-btn color="success" v-on:click="confirmChange()" block>Confirm</v-btn>
                                            </v-col>
                                            <v-col>
                                                <v-btn color="error" v-on:click="cancelChange()" block>Cancel</v-btn>
                                            </v-col>
                                        </v-row>
                                        </v-card-text>
                                    </v-card>
                                </v-menu>
                            </v-col>
                            <v-col>
                                <v-btn block color="error" v-on:click="removePicture()" >Remove picture</v-btn>
                            </v-col>
                        </v-row>
                    </v-col>
                </v-row>
                <v-btn v-if="isEditing" block v-on:click="saveChanges()" color="success">Save changes</v-btn>
                <v-btn v-else block v-on:click="startEdit()" color="info">Edit</v-btn>
            </v-form>
            </v-card-text>
        </v-card>
    </v-dialog>
</template>

<script>
export default {
    data() {
        return {
            menu: false,
            menu2: false,
            rules: {
            required: value => !!value || 'Field is required.'
            },
            valid: true,
            isEditing: false,
            menu3: false,
            pictureUrl: ""
        }
    },
    computed: {
        architect: {
            get() {
                return Object.assign({}, this.$store.getters.editedArchitect);
            }
        }
    },
    mounted() {
        
    },
    methods: {
        turnOff() {
            if (this.$store.state.tutorial.enabled && this.$store.state.tutorial.step == 4) {
                var message = `Please return to the edit architect window by pressing the green button in the control, or 
                                cancel the tutorial by pressing the End tutorial button on the top right.`
                this.$store.commit("showTutbar", {text: message});
                this.$store.commit("editTutorial", {name: "step", value: 3});
            }
            this.$store.commit("editOverlay", {name: "viewArchitect", value: false});
            this.$store.commit("setEditArchitect", -1);
            this.isEditing = false;
            this.menu3 = false;
        },
        saveChanges() {
            fetch("https://nominatim.openstreetmap.org/search?q=" + this.architect.birthPlace + "&format=json")
                .then(res => { return res.json()})
                .then(res => {
                    if (res.length == 0) {
                        this.$store.commit('showSnackbar', {text: "No location found for specified address!", color: "error", })
                        return;
                    }
                    var result = res[0];
                    this.$set(this.architect, 'latLng', {lat: result.lat, lng: result.lon});
                    this.$store.commit('editArchitect', this.architect)
                    this.$store.commit('showSnackbar', {text: "Successfully edited architect.", color: "success", })
                    if (this.$store.state.tutorial.enabled) {
                        this.$store.commit('editTutorial', {name: "step", value: 5});
                        var message = `Your changes were saved! If you updated the location, the marker should have moved to the new location.
                                        You can also view architects in a table view. 
                                        Return to the main window by pressing Escape or clicking outside the Card.
                                        Then, press the Table button in the Control next to the architects, highlighted in green.`
                        this.$store.commit('showTutbar', {text: message}); 
                    }
                    this.isEditing = false;
                })
        },
        startEdit() {
            this.isEditing = true;
            this.pictureUrl = this.architect.picture;
        },
        confirmChange() {
            this.architect.picture = this.pictureUrl;
            this.menu3 = false;
        },
        cancelChange() {
            this.pictureUrl = this.architect.picture;
            this.menu3 = false;
        },
        removePicture() {
            this.architect.picture = "";
            this.pictureUrl = this.architect.picture;
            this.menu3 = false;
            this.$forceUpdate();
        },
        showPicture() {
            return (this.architect.picture != "");
        }
    }
}
</script>