<template>
    <v-dialog max-width="1200" v-model="$store.state.overlays.addArchitect" @click:outside.prevent="turnOff()" @keydown.esc.prevent="turnOff()">
        <v-card v-if="architect != undefined" class="elevation-3">
            <v-toolbar flat color="secondary" dark>
            <v-toolbar-title>Add new architect</v-toolbar-title>
            <v-spacer></v-spacer>
            <v-toolbar-title>Map {{$store.state.selectedMap + 1}}</v-toolbar-title>
            </v-toolbar>
            <v-card-text>
            <v-form v-model="valid" ref="form">
                <v-row>
                    <v-col>
                        <v-row dense>
                            <v-col>
                                <v-text-field
                                label="Name"
                                :rules="[rules.required]"
                                v-model="architect.name"
                                />
                            </v-col>
                            <v-col>
                                <v-text-field
                                label="Surname"
                                :rules="[rules.required]"
                                v-model="architect.surname"
                                />                      
                            </v-col>
                        </v-row>
                        <v-row>
                            <v-col>
                                <v-text-field
                                v-model="architect.id"
                                :rules="[rules.required]"
                                label="Unique ID"
                                />
                            </v-col>        
                        </v-row>
                        <v-row>
                            <v-col>
                                <v-text-field
                                v-model="architect.birthPlace"
                                :rules="[rules.required]"
                                label="Birth place"
                                />
                            </v-col>        
                        </v-row>
                        <v-row>
                            <v-col>
                                <v-text-field
                                v-model="architect.nationality"
                                :rules="[rules.required]"
                                label="Nationality"
                                />  
                            </v-col>             
                        </v-row>
                        <v-row>
                            <v-col>
                                <v-text-field
                                v-model="architect.dateOfBirth"
                                label="Date of birth"
                                :rules="[rules.required]"
                                />                      
                            </v-col>
                                <v-col>
                                    <v-checkbox
                                    label="BC"
                                    v-model="dateOfBirthBC"
                                    ></v-checkbox>
                                </v-col>
                            <v-col>
                                <v-text-field
                                v-model="architect.dateOfDeath"
                                label="Date of death"
                                />            
                            </v-col>
                                <v-col>
                                    <v-checkbox
                                    label="BC"
                                    v-model="dateOfDeathBC"
                                    ></v-checkbox>
                                </v-col>
                        </v-row>
                    </v-col>
                    <v-col align="center" justify="center">
                        <v-row v-if="this.showPicture()">
                            <v-col>
                                <v-img
                                :src="architect.picture" 
                                max-height=400
                                max-width=400
                                />
                            </v-col>
                        </v-row>
                        <v-row v-else align="center" justify="center">
                            <v-card tile width=400 height=400>
                                <v-img
                                    src="https://www.precisemedical.co.uk/wp-content/uploads/2017/05/grey-square.png"
                                    class="align-center white--text justify-center" 
                                    height=400 width=400>
                                    <v-card-title class="display-4 font-weight-bold justify-center">
                                        {{architect.name.charAt(0)}} {{architect.surname.charAt(0)}}
                                    </v-card-title>
                                </v-img>
                            </v-card>
                        </v-row>
                        <v-row>
                            <v-col>
                                <v-menu 
                                    v-model="menu3"
                                    :close-on-content-click="false"
                                    offset-y
                                    :nudge-width="200"
                                    :close-on-click="false"
                                    >
                                    <template v-slot:activator="{ on }">
                                        <v-btn block color="success" v-on="on">Change picture</v-btn>
                                    </template>
                                    <v-card>
                                        <v-card-text>
                                        <v-row>
                                            <v-col>
                                                <v-textarea outlined v-model="pictureUrl" label="Picture url" />
                                            </v-col>
                                        </v-row>
                                        <v-row>
                                            <v-col>
                                                <v-btn color="success" v-on:click="confirmChange()" block>Confirm</v-btn>
                                            </v-col>
                                            <v-col>
                                                <v-btn color="error" v-on:click="cancelChange()" block>Cancel</v-btn>
                                            </v-col>
                                        </v-row>
                                        </v-card-text>
                                    </v-card>
                                </v-menu>
                            </v-col>
                            <v-col>
                                <v-btn block color="error" v-on:click="removePicture()" >Remove picture</v-btn>
                            </v-col>
                        </v-row>
                    </v-col>
                </v-row>
                <v-row>
                    <v-btn block v-on:click="addArchitect()" color="success">Add architect</v-btn>
                </v-row>
            </v-form>
            </v-card-text>
        </v-card>
    </v-dialog>
</template>

<script>
export default {
    data() {
        return {
            dateOfBirthBC: false,
            dateOfDeathBC: false,
            architect: {
                name: "",
                surname: "",
                birthPlace: "",
                nationality: "",
                dateOfBirth: "",
                dateOfDeath: "",
                picture: "",
                latLng: {
                    lat: 0,
                    lon: 0
                }
            },
            menu: false,
            menu2: false,
            rules: {
            required: value => !!value || 'Field is required.'
            },
            valid: true,
            menu3: false,
            pictureUrl: ""
        }
    },
    mounted() {

    },
    methods: {
        turnOff: function() {
            if (this.$store.state.tutorial.enabled && this.$store.state.tutorial.step == 2) {
                var message = `Please return to the Add architect window by pressing the button on the menu, or 
                                cancel the tutorial by pressing the End tutorial button on the top right.`
                this.$store.commit("showTutbar", {text: message});
                this.$store.commit("editTutorial", {name: "step", value: 1});
            }
            this.$refs.form.resetValidation();
            this.architect.name = "";
            this.architect.id = "";
            this.architect.surname = "";
            this.architect.birthPlace = "";
            this.architect.nationality = "";
            this.architect.dateOfBirth = "";
            this.architect.dateOfDeath = "";
            this.architect.picture = "";
            this.pictureUrl = "";
            this.dateOfBirthBC = false;
            this.dateOfDeathBC = false;
            this.$store.commit("editOverlay", {name: "addArchitect", value: false});
        },
        addArchitect: function() {
            if(this.dateOfBirthBC) {
                this.architect.dateOfBirth = this.architect.dateOfBirth + " BC";
                this.addArchitect.dateOfBirthBC
            }
            if(this.dateOfDeathBC) {
                this.architect.dateOfDeath = this.architect.dateOfDeath + " BC";
            }
            this.$refs.form.validate();
            if (!this.valid) {
                this.$store.commit('showSnackbar', {text: "Please fill in all the required fields!", color: "error", })
                return;
            }
            // dodaj u kolekciju
            fetch("https://nominatim.openstreetmap.org/search?q=" + this.architect.birthPlace + "&format=json")
                .then(res => { return res.json()})
                .then(res => {
                    if (res.length == 0) {
                        this.$store.commit('showSnackbar', {text: "No location found for specified address!", color: "error", })
                        return;
                    }
                    var result = res[0];
                    this.$set(this.architect, 'latLng', {lat: result.lat, lng: result.lon});
                    this.$store.commit('addArchitect', this.architect)
                    this.$store.commit('showSnackbar', {text: "Successfully added architect.", color: "success", })
                    if (this.$store.state.tutorial.enabled) {
                        this.$store.commit('editTutorial', {name: "step", value: 3});
                        var message = `Hooray! You have added an architect. You can now see him on the map, and you can drag and drop
                                        to automatically update his location. If you drag the marker to a location that is not valid, it will
                                        automatically be moved back to the last valid location. Next, click the green button in the Control panel
                                        on the right to enter editing mode.`
                        this.$store.commit('showTutbar', {text: message}); 
                        this.$store.commit('editTutorial', {name: "entityId", value: this.architect.id})
                    }
                    this.turnOff();
                })
        },
        confirmChange() {
            this.architect.picture = this.pictureUrl;
            this.menu3 = false;
        },
        cancelChange() {
            this.pictureUrl = this.architect.picture;
            this.menu3 = false;
        },
        removePicture() {
            this.architect.picture = "";
            this.pictureUrl = this.architect.picture;
            this.menu3 = false;
            this.$forceUpdate();
        },
        showPicture() {
            return (this.architect.picture != "");
        }
    }
}
</script>