<template>
    <div>
        <v-card min-height="350px">
            <v-toolbar flat color="blue-grey" dark>
                <v-toolbar-title>Architects</v-toolbar-title>
                <v-spacer />
                <v-tooltip  left  style="z-index: 10" v-model="$store.state.tooltipVisible"  eager>
                        <template v-slot:activator="{}">
                            <v-btn class="mr-1" icon 
                                @click="viewTableArchitects()"
                                v-shortkey="['ctrl', 'alt', 's']" 
                                @shortkey="viewTableArchitects()"
                                :color="$store.getters.editingStep(1, 5) ? 'green lighten-1' : 'white'" 
                                :disabled="$store.getters.tutorialStep(1, 5)">
                                    <v-icon large>mdi-table-large</v-icon>
                                </v-btn>
                        </template>
                    <span><kbd>ctrl + alt + s</kbd></span>
                </v-tooltip>
            </v-toolbar>
            <v-list style="max-height: 350px" class="overflow-y-auto">
                <v-list-item-group v-if="architects.length != 0">
                <v-list-item
                    v-for="item in architects" :key="item.id">
                    <template v-slot:default="{}">
                    <v-list-item-content>
                        <v-list-item-title>{{item.name}} {{item.surname}}</v-list-item-title>
                        <v-list-item-subtitle>{{item.nationality}} architect, born {{item.dateOfBirth}}</v-list-item-subtitle>
                    </v-list-item-content>  
                    <v-list-item-action>
                        <v-menu
                        v-model="item.show"
                        :close-on-content-click="false"
                        offset-x
                        left
                        >
                        <template v-slot:activator="{ on }">
                            <v-btn class="mr-2" icon
                                :disabled="$store.getters.tutorialStep(3, 1)" v-on="on">
                                <v-icon large>mdi-content-copy</v-icon>
                            </v-btn>
                        </template>
                        <v-card>
                            <v-row>
                                <v-btn v-on:click="copyToMap(item, 0, true)">Copy to map 1</v-btn>
                            </v-row>
                            <v-row>
                                <v-btn v-on:click="copyToMap(item, 1, true)">Copy to map 2</v-btn>
                            </v-row>
                            <v-row>
                                <v-btn v-on:click="copyToMap(item, 2, true)">Copy to map 3</v-btn>
                            </v-row>
                            <v-row>
                                <v-btn v-on:click="copyToMap(item, 3, true)">Copy to map 4</v-btn>
                            </v-row>
                        </v-card>
                        </v-menu>
                        <v-btn class="mr-2" icon v-on:click="showArchitect(item)" 
                            :color="$store.getters.editingStep(1, 3) && item.id == $store.state.tutorial.entityId ? 'green' : 'grey'" 
                            :disabled="$store.getters.tutorialStep(1,3) || ($store.state.tutorial.enabled && item.id != $store.state.tutorial.entityId)">
                            <v-icon large>mdi-information</v-icon>
                        </v-btn>
                    </v-list-item-action>
                </template>
                </v-list-item>
                </v-list-item-group>
            </v-list>
        </v-card>
        <v-card class="mt-2" min-height="350px">
            <v-toolbar flat color="lime darken-2" dark>
                <v-toolbar-title>Architecture</v-toolbar-title>
                <v-spacer />
                <v-tooltip  left  style="z-index: 10" v-model="$store.state.tooltipVisible"  eager>
                        <template v-slot:activator="{}">
                            <v-btn class="mr-1" icon 
                                @click="viewTableArchitecture()"
                                v-shortkey="['ctrl', 'alt', 'd']" 
                                @shortkey="viewTableArchitecture()"
                                :color="$store.getters.editingStep(2, 5) ? 'green lighten-1' : 'white'" 
                                :disabled="$store.getters.tutorialStep(2, 5)">
                                    <v-icon large>mdi-table-large</v-icon>
                                </v-btn>
                        </template>
                    <span><kbd>ctrl + alt + d</kbd></span>
                </v-tooltip>
            </v-toolbar>
            <v-list style="max-height: 350px" class="overflow-y-auto">
                <v-list-item-group v-if="architectures.length != 0">
                <v-list-item 
                    v-for="item in architectures" :key="item.id">
                    <v-list-item-content>
                        <v-list-item-title>{{item.name}}</v-list-item-title>
                        <v-list-item-subtitle>Architect: {{$store.getters.getArchitectById(item.architect)}}</v-list-item-subtitle> 
                        <v-list-item-subtitle>Finished: {{item.constructionDate}}</v-list-item-subtitle>
                    </v-list-item-content>  
                    <v-list-item-action>
                        <v-menu
                        v-model="item.show"
                        :close-on-content-click="false"
                        offset-x
                        left
                        >
                        <template v-slot:activator="{ on }">
                            <v-btn class="mr-2" icon
                                :disabled="$store.getters.tutorialStep(3, 1)" v-on="on">
                                <v-icon large>mdi-content-copy</v-icon>
                            </v-btn>
                        </template>
                        <v-card>
                            <v-row>
                                <v-btn v-on:click="copyToMap(item, 0, false)">Copy to map 1</v-btn>
                            </v-row>
                            <v-row>
                                <v-btn v-on:click="copyToMap(item, 1, false)">Copy to map 2</v-btn>
                            </v-row>
                            <v-row>
                                <v-btn v-on:click="copyToMap(item, 2, false)">Copy to map 3</v-btn>
                            </v-row>
                            <v-row>
                                <v-btn v-on:click="copyToMap(item, 3, false)">Copy to map 4</v-btn>
                            </v-row>
                        </v-card>
                        </v-menu>
                        <v-btn class="mr-2" icon v-on:click="showArchitecture(item)"
                            :color="$store.getters.editingStep(2, 3) && item.id == $store.state.tutorial.entityId ? 'green' : 'grey'" 
                            :disabled="$store.getters.tutorialStep(2, 3) || ($store.state.tutorial.enabled && item.id != $store.state.tutorial.entityId)">
                            <v-icon large>mdi-information</v-icon>
                        </v-btn>
                    </v-list-item-action>
                </v-list-item>
                </v-list-item-group>
            </v-list>
        </v-card>
    </div>
</template>

<script>
export default {
    data() {
        return {
            menu1: false,
            menu2: false
        }
    },
    methods: {
        showArchitect: function(architect) {
            if (this.$store.state.tutorial.enabled) {
                this.$store.commit("editTutorial", {name: "step", value: 4});
                var message = `This is the view and editing architect overlay. You can view the details and start editing by pressing the Edit button. 
                                Update the values by changing the values in the form, and when you are done, press the save changes button.`;
                this.$store.commit("showTutbar", {text: message});
            }
            this.$store.commit("setEditArchitect", architect.id);
            this.$store.commit("editOverlay", {name: "viewArchitect", value: true});
        },
        addArchitect: function() {
            this.$store.commit("editOverlay", {name: "addArchitect", value: true});
        },
        showArchitecture: function(architecture) {
            if (this.$store.state.tutorial.enabled) {
                this.$store.commit("editTutorial", {name: "step", value: 4});
                var message = `This is the view and editing architecture overlay. You can view the details and start editing by pressing the Edit button. 
                                Update the values by changing the values in the form, and when you are done, press the save changes button.`;
                this.$store.commit("showTutbar", {text: message});
            }
            this.$store.commit("setEditArchitecture", architecture.id);
            this.$store.commit("editOverlay", {name: "viewArchitecture", value: true});
        },
        addArchitecture: function() {
            this.$store.commit("editOverlay", {name: "addArchitecture", value: true});
        },
        viewTableArchitects: function() {
            if (this.$store.state.tutorial.enabled) {
                this.$store.commit("editTutorial", {name: "step", value: 6});
                var message = `This is the table view. Here you can sort by the available fields and you have an overview of all the architects.
                                You can access the editing page from here as well, and you can delete the architects.
                                Finish the tutorial by deleting the architect which you added. The icon is highlighted in green.`;
                this.$store.commit("showTutbar", {text: message});
            }
            this.$store.commit('editOverlay', {name: 'architectTable', value: true})
        },
        viewTableArchitecture: function() {
            if (this.$store.state.tutorial.enabled) {
                this.$store.commit("editTutorial", {name: "step", value: 6});
                var message = `This is the table view. Here you can sort by the available fields and you have an overview of all the architecture.
                                You can access the editing page from here as well, and you can delete the architecture.
                                Finish the tutorial by deleting the architecture which you added. The icon is highlighted in green.`;
                this.$store.commit("showTutbar", {text: message});
            }
            this.$store.commit('editOverlay', {name: 'architectureTable', value: true})
        },
        copyToMap(item, map, isArchitect) {
            if (map == this.$store.state.selectedMap) {
                this.$store.commit("showSnackbar", {text: "Cannot copy to the same map!", color: "error"});
                return;
            }
            if (isArchitect) {
                if (this.$store.getters.existsOnMap(item, map, isArchitect)) {
                    this.$store.commit("showSnackbar", {text: "Architect already exists on that map!", color: "error"});    
                    return;
                }
                item.show = false;
                this.$store.commit('copyArchitect', {architect: item, map: map});
                this.$store.commit("showSnackbar", {text: "Successfully copied architect to map.", color: "success"})
            } else {
                if (this.$store.getters.existsOnMap(item, map, isArchitect)) {
                    this.$store.commit("showSnackbar", {text: "Architecture already exists on that map or it's architect doesn't exist!", color: "error"});    
                    return;
                }
                item.show = false;
                this.$store.commit('copyArchitecture', {architecture: item, map: map});
                this.$store.commit("showSnackbar", {text: "Successfully copied architecture to map.", color: "success"})
            }
        }

    },
    computed: {
        architects() {
            var items = this.$store.state.Maps[this.$store.state.selectedMap].architects;
            return items;
        },
        architectures() {
            var items = this.$store.state.Maps[this.$store.state.selectedMap].architectures;
            return items;
        }
    },
    
}
</script>

<style scoped>

</style>
