<template>
    <v-dialog max-width="650" v-model="$store.state.overlays.docs" @click:outside="turnOff()" @keydown.esc="turnOff()">
    <v-card
    elevation="24"
    height="600"
  >
    <v-card-title>Documentation</v-card-title>
    <v-system-bar lights-out></v-system-bar>
    <v-carousel
      :continuous="false"
      :cycle="cycle"
      show-arrows
      delimiter-icon="mdi-minus"
      height="300"
      v-model="num"
    >
      <v-carousel-item
        v-for="(slide, i) in slides"
        :key="i"
        :src="slides[i]"
        height="100%"
        tile
        >
      </v-carousel-item>
    </v-carousel>

    <v-list>
      <v-list-item>
        <v-list-item-content>
          <v-list-item-title>Description</v-list-item-title>
          <v-list-item>{{text[num]}}</v-list-item>
        </v-list-item-content>
      </v-list-item>
    </v-list>
  </v-card>
    </v-dialog>
</template>

<script>
export default {
    data() {
        return {
            num: "",
            colors: [
          'green',
          'secondary',
          'yellow darken-4',
          'red lighten-2',
          'orange darken-1',
        ],
        cycle: false,
        slides: [
          'https://i.imgur.com/abgfaBJ.png', //sve
          'https://i.imgur.com/QQfoOQh.png', //edovanje arh
          'https://i.imgur.com/fayQS6Q.png', //edovanje dela
          'https://i.imgur.com/MPqOqFe.png', //eksport
          'https://i.imgur.com/cJNe8xE.png', //import
          'https://i.imgur.com/jxwA1hg.png', //arch table view
          'https://i.imgur.com/0skSi14.png', //table view delo
          'https://i.imgur.com/gjjNFo6.png' //tutorial

        ],
        //length 7
        text: [            
            `This is the main view of the application. User can see all the actions (which will be represented in next slides).
            The main purpose of this application is showing architects and their architectures and linking them. User can also drag and
            drop pins and the info about the birth city of architect or archicteture's place will be updated. There are 4 maps and users can easily switch 
            between them by pressing CTRL+1, CTRL+2, CTRL+3 and CTRL+4.`,            
            `This is used for adding a new architect on the map. User can add basic information about the architect and can also add their picture.
            If the picture is not selected the initials will be shown. After successfully adding, the new architect will appear on the sidebar and also on map.`,
            `This is used for adding a new architecture on the map. User can add basic information about architecture and also can add their picture.
            If the picture is not selected predefined picture will be shown. 
            After successfull adding, new architecture will appear on the sidebar and also on map.`,
            `User can save all added architects and architectures on the currently selected map in a json file by exporting.`,
            `User can import a map's saved data from json files. Saved architects and architectures will be shown on sidebar and selected map.`,
            `User can get a table view of all the architects on the current map. They can quickly edit or delete any architect. 
            If an architect has architectures on a selected map, deleting is disabled.`,
            `User can also get a table view of all the architectures on the current map. They can quickly edit or delete any architecture.`,
            `User can get step-by-step help. If you didn't find enough information in this documentation, we recommend trying out one of our tutorials. They
            are a great guide to quickly get started with our application's features and you can choose between "working with architects", "working with architectures" and
            "saving and loading maps".`
        ]
        }
        //
    },
    methods: {
        turnOff: function() {
            this.$store.commit("editOverlay", {name: "docs", value: false});
        },
    }
}

</script>

