<template>
    <v-dialog max-width="500" v-model="$store.state.overlays.export" @click:outside="turnOff()" @keydown.esc="turnOff()">
    <v-card class = "elevation-3">
        <v-toolbar flat color="secondary" dark>
            <v-toolbar-title>Export file</v-toolbar-title>
        </v-toolbar>
        <v-card-text>
            <v-form ref="form">
                <v-row>
                    <v-col>
                        <v-text-field
                        label="File name"
                        single-line
                        prepend-icon="mdi-paperclip"
                        :rules="[rules.required]"
                        v-model="file"
                        ></v-text-field>
                    </v-col>
                </v-row>
                <v-row>
                    <v-col>
                        <v-autocomplete
                        v-model="selectedMap"
                        :items="maps"
                        :rules="[rules.required]"
                        prepend-icon="mdi-map"
                        label="Select a map"/>
                    </v-col>
                </v-row>
                <v-row>
                    <v-col>
                        <v-btn
                        block
                        color="success" 
                        v-on:click="writeFile()"
                        :loading="loading"
                        :disabled="loading"
                        >Export</v-btn>
                    </v-col>
                </v-row>
            </v-form>
        </v-card-text>
    </v-card>
    </v-dialog>
</template>

<script>
export default {
    data() {
        return{
            file: undefined,
            loading: false,
            selectedMap: "",
            maps: [
                {
                    text: "Map 1",
                    value: 0
                },
                {
                    text: "Map 2",
                    value: 1
                },
                {
                    text: "Map 3",
                    value: 2
                },
                {
                    text: "Map 4",
                    value: 3
                }
            ],
            valid: true,
            rules: {
                required: value => !!value || value === 0 || "Field is required."
            }
        }
    },
    methods: {
        turnOff: function() {
            this.$refs.form.resetValidation();
            this.selectedMap = "";
            this.file = undefined;
            this.loading = false;

            if (this.$store.state.tutorial.enabled && this.$store.state.tutorial.step == 2) {
                var message = `Please return to the Export to File window by pressing the button on the menu, or 
                                cancel the tutorial by pressing the End tutorial button on the top right.`
                this.$store.commit("showTutbar", {text: message});
                this.$store.commit("editTutorial", {name: "step", value: 1});
            }

            this.$store.commit("editOverlay", {name: "export", value: false});
        },
        asyncStryngify: function(data) {
            return new Promise((resolve) => {
                resolve(JSON.stringify(data));
            });
        },
        writeFile: function() {
            this.loading = true;
            this.$store.commit("changeSelectedMap", {selectedMap: this.selectedMap});
            var data = {architects: this.$store.getters.architects, architectures: this.$store.getters.architectures}
            this.asyncStryngify(data).then(response => {
                this.saveFile(response);
            });
        },
        saveFile: function(data) {
            const blob = new Blob([data], {type: 'text/plain'});
            const e = document.createEvent('MouseEvents'),
            a = document.createElement('a');
            a.download = this.file;
            a.href = window.URL.createObjectURL(blob);
            a.dataset.downloadurl = ['text/json', a.download, a.href].join(':');
            e.initEvent('click', true, false, window, 0, 0, 0, 0, 0, false, false, false, false, 0, null);
            a.dispatchEvent(e);
            this.loading = false;

            if (this.$store.state.tutorial.enabled) {
                this.$store.commit('editTutorial', {name: "step", value: 3});
                var message = `Hooray! You have saved the map to a file. Now, let's try importing that map to another map.
                                Click the Import from File button on the menu bar to begin.`
                this.$store.commit('showTutbar', {text: message}); 
            }

            this.turnOff();
        }
    },
}
</script>