<template>
    <v-dialog max-width="500" v-model="$store.state.overlays.import" @click:outside="turnOff()" @keydown.esc="turnOff()">
    <v-card class = "elevation-3">
        <v-toolbar flat color="secondary" dark>
            <v-toolbar-title>Import file</v-toolbar-title>
        </v-toolbar>
        <v-card-text>
            <v-form ref="form" lazy-validation>
                <v-row>
                    <v-col>
                        <v-file-input
                        accept=".json" 
                        v-model="file"
                        :rules="[rules.required]" 
                        label="File name" />
                    </v-col>
                </v-row>
                <v-row>
                    <v-col>
                        <v-autocomplete
                        v-model="selectedMap"
                        :items="maps"
                        :rules="[rules.required]"
                        prepend-icon="mdi-map"
                        label="Select a map"/>
                    </v-col>
                </v-row>
                <v-row>
                    <v-btn 
                    block
                    color="success" 
                    v-on:click="readFile()"
                    :loading="loading"
                    :disabled="loading"
                    >Import</v-btn>
                </v-row>
            </v-form>
        </v-card-text>
    </v-card>
    </v-dialog>
</template>

<script>
export default {
    data() {
        return{
            file: undefined,
            loading: false,
            selectedMap: "",
            maps: [
                {
                    text: "Map 1",
                    value: 0
                },
                {
                    text: "Map 2",
                    value: 1
                },
                {
                    text: "Map 3",
                    value: 2
                },
                {
                    text: "Map 4",
                    value: 3
                }
            ],
            valid: true,
            rules: {
                required: value => !!value || value === 0 || "Field is required." //Map1 vraca 0 !!0 je false
            },
        }
    },
    methods: {
        turnOff: function() {
            this.$refs.form.resetValidation();
            this.file = undefined; //treba undefined inace ce label da se pomeri
            this.selectedMap = "";
            this.loading = false;

            if (this.$store.state.tutorial.enabled && this.$store.state.tutorial.step == 4) {
                var message = `Please return to the Import from File window by pressing the button on the menu, or 
                                cancel the tutorial by pressing the End tutorial button on the top right.`
                this.$store.commit("showTutbar", {text: message});
                this.$store.commit("editTutorial", {name: "step", value: 3});
            }

            this.$store.commit("editOverlay", {name: "import", value: false});
        },
        asyncParse: function(string) {
            return (new Response(string)).json();
        },
        readFile: function() {
            //for getting the string for the file
            // var data = {architects: this.$store.getters.architects, architectures: this.$store.getters.architectures}
            // console.log(JSON.stringify(data));
            this.$refs.form.validate();
            if (!this.valid) {
                this.$store.commit('showSnackbar', {text: "Please fill in all the required fields!", color: "error"});
                return;
            }
            //setuj odgovarajucu mapu
            this.$store.commit("changeSelectedMap", {selectedMap: this.selectedMap});
            this.loading = true;
            var reader = new FileReader();
            reader.readAsText(this.file);
            reader.onload = () => {
                var upThis = this;
                this.asyncParse(reader.result).then(function(inputData) {
                    console.log(inputData);
                    upThis.$store.commit("importData", {data: inputData});
                    upThis.$store.commit('showSnackbar', {text: "The file was successfully loaded.", color: "success", })
                    upThis.loading = false;

                    if (upThis.$store.state.tutorial.enabled) {
                        upThis.$store.commit("editTutorial", {name: "step", value: 0});
                        upThis.$store.commit("editTutorial", {name: "enabled", value: false});
                        upThis.$store.commit("editTutorial", {name: "type", value: 0})
                        upThis.$store.commit("editTutorial", {name: "entityId", value: ""})
                        var message = `Hooray! You have imported the map from a file. Feel free to repeat this tutorial by accessing
                              the menu in the top right, or try out some of our other tutorials. We hope you have a great time using our app.`
                        upThis.$store.commit('showTutbar', {text: message,  timeout: 15000}); 
                      }
                    upThis.turnOff();
                }).catch(function(e) {
                    console.log(e);
                    upThis.$store.commit('showSnackbar', {text: "The file was improperly formated. Please try again!", color: "error", })
                    upThis.loading = false;
                });   
            }
            
        }
    }
}
</script>