<template>
    <l-map
      :zoom="zoom"
      :center="center"
      :minZoom=4
      @update:zoom="zoomUpdated"
      @update:center="centerUpdated"
      @update:bounds="boundsUpdated"
      :maxBounds="maxBounds"
      style="z-index: 10"
    >
      <l-tile-layer noWrap :url="url"></l-tile-layer>
      <l-control position="topright">
        <v-toolbar dense min-width=400>
          <v-text-field
            hide-details
            prepend-icon="mdi-magnify"
            single-line
            v-model="filter"
            placeholder="Search..."
          ></v-text-field>
        </v-toolbar>
      </l-control>
      <template v-if="$store.getters.filterArchitects(filter).length != 0">
        <l-marker v-for="marker in $store.getters.filterArchitects(filter)" :key="marker.id" 
          v-bind:lat-lng.sync="marker.latLng"
          :options="Object.assign({id: marker.id}, markerOptions)"
          @move="updateMoved"
          @moveend="updateLocation">
          <l-icon v-if="marker.picture != ''" 
            :icon-size="dynamicSize"
            class-name="iconPicture">
            <img :src="marker.picture" width=50 height=50 />
          </l-icon>
          <l-icon v-else
            :icon-size="dynamicSize"
            class-name="iconText">
            <div class="display-1 font-weight-bold justify-center text">
              {{marker.name.charAt(0)}}{{marker.surname.charAt(0)}}
            </div>
          </l-icon>
        </l-marker>
      </template>
      <template v-if="$store.getters.filterArchitectures(filter).length != 0">
        <l-marker v-for="marker in $store.getters.filterArchitectures(filter)" :key="marker.id" 
          v-bind:lat-lng.sync="marker.latLng"
          :options="Object.assign({id: marker.id}, markerOptions)"
          @move="updateMoved"
          @moveend="updateLocation">
          <l-icon v-if="marker.picture != ''" 
            :icon-size="dynamicSize"
            class-name="iconPicture">
            <img :src="marker.picture" width=50 height=50 />
          </l-icon>
          <l-icon v-else 
            :icon-size="dynamicSize"
            class-name="iconPicture">
            <img :src="$store.state.predefinedPicture" width=50 height=50 />
          </l-icon>
        </l-marker>
      </template>
      <template>
        <l-polyline v-for="item in architecture" :key="item.id + '_line'"
            :lat-lngs="$store.getters.path(item)" color="black">
        </l-polyline>
      </template>
    </l-map>
</template>


<script>
import { latLngBounds } from "leaflet";
import {LMap, LTileLayer, LMarker, LControl, LIcon, LPolyline} from 'vue2-leaflet';

export default {
  components: {
    LMap,
    LTileLayer,
    LMarker,
    LControl,
    LIcon,
    LPolyline
  },
  data () {
    return {
      url: 'https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png',
      zoom: 5,
      center: [47.413220, -1.219482],
      bounds: null,
      markerOptions: {
        draggable: true,
        autoPan: true
      },
      filter: "",
      iconSize: 50,
      maxBounds: latLngBounds([
        [300, 200],
        [-300, -200]
      ]),
      
    };
  },
  computed: {
    architects() {
      return this.$store.state.architects;
    },
    architecture() {
      return this.$store.getters.filterArchitectures(this.filter);
    },
    dynamicSize() {
      return [this.iconSize, this.iconSize * 1.3];
    }
  },
  methods: {
    zoomUpdated (zoom) {
      this.zoom = zoom;
    },
    centerUpdated (center) {
      this.center = center;
    },
    boundsUpdated (bounds) {
      this.bounds = bounds;
      console.log(bounds);
    },
    updateMoved(event) {
      if (this.$store.state.markerMoved.finishedMoving) {
        if (this.$store.state.markerMoved.oldCoords.lat == event.latlng.lat && this.$store.state.markerMoved.oldCoords.lng == event.latlng.lng) {
          // 1. slucaj - kada smo rucno promenili koordinate na prethodne zbog roll-back-a
          // ovo ignorisemo jer ne zelimo da pamtimo lose koordinate sa kojih smo dosli
          // 2. slucaj - kada smo promenili preko editovanja arh. koordinate, zapamtili smo nove koord u oldCoords 
          // jer ne zelimo da pocnemo pracenje jos
          return;
        }
        if (!this.$store.state.markerMoved.startedMoving) {
          var data = {
            startedMoving: true,
            finishedMoving: true,
            oldCoords: {
              lat: event.oldLatLng.lat,
              lng: event.oldLatLng.lng
            },
            newCoords: {
              lat: event.latlng.lat,
              lng: event.latlng.lng
            },
            id: event.target.options.id 
          };
          this.$store.commit('startMarkerMove', data);
        } else {
          var newCoords = {
            lat: event.latlng.lat,
            lng: event.latlng.lng
          }
          this.$store.commit('updateMarkerMove', newCoords);

        }
      }
    },

    updateLocation() {
      if(this.$store.state.markerMoved.startedMoving) {
        this.$store.commit('updateMarkerMoveFinished', false);
        fetch("https://nominatim.openstreetmap.org/reverse?lat=" + this.$store.state.markerMoved.newCoords.lat + "&lon=" + this.$store.state.markerMoved.newCoords.lng + "&format=json")
          .then(res => res.json())
          .then(res => {
            if (res.error) {
              var data = {
                id: this.$store.state.markerMoved.id,
                lat: this.$store.state.markerMoved.oldCoords.lat,
                lng: this.$store.state.markerMoved.oldCoords.lng
              } 
              this.$store.commit('cancelMarkerMove', data);
              this.$store.commit('showSnackbar', {text: "Invalid geocoding location. Reverted to old location.", color: "error", })
              return;
            }
            var city = false;
            // pronadji barem nesto za prvi deo birth place-a, ako bas nema stavi samo drzavu
            if (res.address.city != undefined)
              city = res.address.city + ", " + res.address.country;
            else if (res.address.town != undefined)
              city = res.address.town + ", " + res.address.country;
            else if (res.address.village != undefined)
              city = res.address.village + ", " + res.address.country;
            else if (res.address.municipality != undefined)
              city = res.address.municipality + ", " + res.address.country;
            else if (res.address.locality != undefined)
              city = res.address.locality + ", " + res.address.country;
            else if (res.address.state != undefined)  
              city = res.address.state + ", " + res.address.country;
            else if (res.address.region != undefined)  
              city = res.address.region + ", " + res.address.country;
            if (!city) {
              city = res.address.country;
            }
            this.$store.commit('finishMarkerMove', {id: this.$store.state.markerMoved.id, city: city});
            /*this.architectEdited.startedEditing = false;
            this.architectEdited.finishedEditing = true;*/
          })
      }
    }
  }
}
</script>

<style>
  .iconPicture {
  background-color: white;
  padding: 5px;
  border: 1px solid #333;
  border-radius: 0 20px 20px 20px;
  box-shadow: 5px 3px 10px rgba(0, 0, 0, 0.2);
  text-align: center;
  width: auto !important;
  height: auto !important;
  margin: 0 !important;
  }
  
  .iconText {
  background-color: white;
  padding: 10px;
  border: 1px solid #333;
  border-radius: 0 20px 20px 20px;
  box-shadow: 5px 3px 10px rgba(0, 0, 0, 0.2);
  text-align: center;
  text-justify: auto;
  width: auto !important;
  height: 50 !important;
  margin: 0 !important;
  }
  .text {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
    /*font-size: 32;*/
  }
</style>