<template>
    <div>
        <v-toolbar color="indigo" dark>
                <v-toolbar-title color="white">Architects and architecture</v-toolbar-title>
                <v-spacer />
                <v-toolbar-items>
                    
                    <v-tooltip nudge-top="30" centered style="z-index: 10" v-model="$store.state.tooltipVisible" bottom eager>
                        <template v-slot:activator="{}">
                            <v-btn
                                text
                                v-shortkey="['ctrl', 'alt', 'a']" 
                                @shortkey="addArchitect()" 
                                v-on:click="addArchitect()"
                                :disabled="$store.getters.tutorialStep(1, 1)">
                                Add architect
                            </v-btn>
                        </template>
                        <span><kbd>ctrl + alt + a</kbd></span>
                    </v-tooltip>

                    <v-tooltip nudge-top="30" centered style="z-index: 10" v-model="$store.state.tooltipVisible" bottom eager>
                        <template v-slot:activator="{}">
                            <v-btn
                                text
                                v-shortkey="['ctrl', 'alt', 'o']"
                                @shortkey="addArchitecture()" 
                                v-on:click="addArchitecture()"
                                :disabled="$store.getters.tutorialStep(2, 1)">
                                Add architecture
                            </v-btn>
                        </template>
                        <span><kbd>ctrl + alt + o</kbd></span>
                    </v-tooltip>

                    <v-tooltip nudge-top="30" centered style="z-index: 10" v-model="$store.state.tooltipVisible" bottom eager>
                        <template v-slot:activator="{}">
                            <v-btn text
                                v-shortkey="['ctrl', 'alt', 'e']"
                                @shortkey="exportFile()"
                                v-on:click="exportFile()"
                                :disabled="$store.getters.tutorialStep(4, 1)">
                                           Export to file</v-btn>
                        </template>
                        <span><kbd>ctrl + alt + e</kbd></span>
                    </v-tooltip>

                    <v-tooltip nudge-top="30" centered style="z-index: 10" v-model="$store.state.tooltipVisible" bottom eager>
                        <template v-slot:activator="{}">
                            <v-btn
                                text
                                v-shortkey="['ctrl', 'alt', 'i']"
                                @shortkey="importFile()"
                                v-on:click="importFile()"
                                :disabled="$store.getters.tutorialStep(4, 3)">
                                Import from file
                                </v-btn>
                        </template>
                        <span><kbd>ctrl + alt + i</kbd></span>
                    </v-tooltip>

                    <v-tooltip nudge-top="30" centered style="z-index: 10" v-model="$store.state.tooltipVisible" bottom eager>
                        <template v-slot:activator="{}">
                            <v-btn text
                                v-shortkey="['ctrl', 'alt', 't']"
                                @shortkey="tutorialDialog()"
                                v-on:click="tutorialDialog()">
                                <template v-if="!$store.state.tutorial.enabled">Tutorial
                                </template>
                                <template v-else>End tutorial
                                </template>
                                </v-btn>
                        </template>
                        <span><kbd>ctrl + alt + t</kbd></span>
                    </v-tooltip>

                    <v-tooltip nudge-top="30" centered style="z-index: 10" v-model="$store.state.tooltipVisible" bottom eager>
                        <template v-slot:activator="{}">
                            <v-btn text
                                v-shortkey="['ctrl', 'alt', 'h']"
                                @shortkey="documentation()"
                                :disabled="$store.state.tutorial.enabled"
                                v-on:click="documentation()">Documentation
                                </v-btn>
                        </template>
                        <span><kbd>ctrl + alt + h</kbd></span>
                    </v-tooltip>

                    <v-tooltip nudge-top="30" centered style="z-index: 10" v-model="$store.state.tooltipVisible" bottom eager>
                        <template v-slot:activator="{}">
                            <v-btn
                            v-shortkey="['alt']"
                            text
                            @shortkey="showHelp()"
                            v-on:click="showHelp()">
                                <v-icon medium>mdi-help-circle-outline</v-icon>
                            </v-btn>
                        </template>
                        <span><kbd>alt</kbd></span>
                    </v-tooltip>
                </v-toolbar-items>
        </v-toolbar>
        <v-row>
            <v-tabs
                background-color="indigo"
                centered
                v-model="selectedMap"
                dark
            >
                <v-tab 
                    v-shortkey="['ctrl', '1']"
                    @shortkey="selectedMap=0"
                    >Map 1</v-tab>
                <v-tab 
                    v-shortkey="['ctrl', '2']"
                    @shortkey="selectedMap=1">Map 2</v-tab>
                <v-tab 
                    v-shortkey="['ctrl', '3']"
                    @shortkey="selectedMap=2">Map 3</v-tab>
                <v-tab 
                    v-shortkey="['ctrl', '4']"
                    @shortkey="selectedMap=3">map 4</v-tab>
            </v-tabs>
        </v-row>
    </div>
</template>

<script>
export default {
    data() {
        return {
            rules: {
                required: value => !!value || "Field is required."
            },
        }
    },
    computed: {
        selectedMap:  {
            get() {
                return this.$store.state.selectedMap;
            },
            set(value) {
                this.$store.commit("changeSelectedMap", {selectedMap: value});
            }
        }
    },
    methods: {
        showHelp() {
            this.$store.commit("editTooltip");         
        },
        addArchitect: function() {
            if (this.$store.state.tutorial.enabled) {
                this.$store.commit("editTutorial", {name: "step", value: 2});
                var text = `This is a form that is used to fill in the details of a new architect.
                            You can use the Change picture button to add a picture by typing the URL into the field.
                            Remember to press Confirm if you wish to save the picture.
                            If you don't enter a picture URL the initials of the architect will be displayed on the map.
                            Every field is required except date of death. When you are finished, press the Add Architect button on the bottom.`
                this.$store.commit("showTutbar", {text: text});
            }
            this.$store.commit("editOverlay", {name: "addArchitect", value: true});
        },
        addArchitecture: function() {
            if (this.$store.state.tutorial.enabled) {
                this.$store.commit("editTutorial", {name: "step", value: 4});
                var text = `This is a form that is used to fill in the details of a new architecture.
                            You can use the Change picture button to add a picture by typing the URL into the field.
                            Remember to press Confirm if you wish to save the picture.
                            If you don't enter a picture URL the default picture will be displayed on the map.
                            Every field is required. When you are finished, press the Add Architecture button on the bottom.`
                this.$store.commit("showTutbar", {text: text});
            }
            this.$store.commit("editOverlay", {name: "addArchitecture", value: true});
        },
        importFile: function() {
            if (this.$store.state.tutorial.enabled) {
                this.$store.commit("editTutorial", {name: "step", value: 4});
                var text = `This is a form that is used to import a map from a JSON file to a specific map in the application.
                            Please select the file using the picker and select a map to import to.`
                this.$store.commit("showTutbar", {text: text});
            }
            this.$store.commit("editOverlay", {name: "import", value: true});
        },
        exportFile: function() {
            if (this.$store.state.tutorial.enabled) {
                this.$store.commit("editTutorial", {name: "step", value: 2});
                var text = `This is a form that is used to export a map to a JSON file.
                            Please enter the file name and select a map to export.`
                this.$store.commit("showTutbar", {text: text});
            }
            this.$store.commit("editOverlay", {name: "export", value: true});
        },
        tutorialDialog: function() {
            if (this.$store.state.tutorial.enabled) {
                this.$store.commit("editTutorial", {name: "enabled", value: false})
                this.$store.commit("closeTutbar");
                return;
            }
            this.$store.commit("editOverlay", {name: "tutorial", value: true})
        },
        documentation: function() {
            this.$store.commit("editOverlay", {name: "docs", value: true});
        }

    }
}
</script>

<style scoped>

#buttons {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
}

</style>