<template>
    <v-dialog max-width="900" v-model="$store.state.overlays.tutorial" @click:outside="turnOff()" @keydown.esc="turnOff()">
        <v-card class="elevation-3">
            <v-toolbar flat color="secondary" dark>
            <v-toolbar-title>Tutorial selection</v-toolbar-title>
            </v-toolbar>
            <v-card-actions>
                <v-btn block height=80 color="blue-grey" v-on:click="startArchitects()" dark>Working with architects</v-btn>
            </v-card-actions>
            <v-card-actions>
                <v-btn block height=80 color="lime darken-2" v-on:click="startArchitecture()" dark>Working with architectures</v-btn>
            </v-card-actions>
            <v-card-actions>
                <v-btn block height=80 color="success" v-on:click="startSaving()">Saving and loading maps</v-btn>
            </v-card-actions>
        </v-card>
    </v-dialog>
</template>

<script>
export default {
    methods: {
        turnOff: function() {
            this.$store.commit("editOverlay", {name: "tutorial", value: false});
        },
        startArchitects: function() {
            this.$store.commit("editTutorial", {name: "enabled", value: true});
            this.$store.commit("editTutorial", {name: "type", value: 1});
            this.$store.commit("editTutorial", {name: "step", value: 1});
            
            var message = `Hello, this is a tutorial for adding architects. 
                            You may exit this tutorial at any time by pressing the end tutorial button in the menu bar.
                            When you wish to start, please press the Add Architect button in the menu bar.`
            this.$store.commit("showTutbar", {text: message});

            this.turnOff();
        },
        startArchitecture: function() {
            if (this.$store.state.Maps[this.$store.state.selectedMap].architects.length == 0) {
                this.$store.commit("showSnackbar", {text: "No architects are currently added! Add one before doing this tutorial.", color: "error"});
                return;
            }
            this.$store.commit("editTutorial", {name: "enabled", value: true});
            this.$store.commit("editTutorial", {name: "type", value: 2});
            this.$store.commit("editTutorial", {name: "step", value: 1});

            var message = `Hello, this is a tutorial for adding architecture. 
                            You may exit this tutorial at any time by pressing the end tutorial button in the menu bar.
                            When you wish to start, please press the Add Architecture button in the menu bar.`

            this.$store.commit("showTutbar", {text: message});

            this.turnOff();
        },
        startSaving: function() {
            if (this.$store.state.Maps[this.$store.state.selectedMap].architects.length == 0 || this.$store.state.Maps[this.$store.state.selectedMap].architectures.length == 0) {
                this.$store.commit("showSnackbar", {text: "No architects or architectures are currently added! Add one of either before doing this tutorial.", color: "error"});
                return;
            }
            this.$store.commit("editTutorial", {name: "enabled", value: true});
            this.$store.commit("editTutorial", {name: "type", value: 4});
            this.$store.commit("editTutorial", {name: "step", value: 1});

            var message = `Hello, this is a tutorial for saving and loading from file. 
                            You may exit this tutorial at any time by pressing the end tutorial button in the menu bar.
                            When you wish to start, please press the Export to File button in the menu bar.`

            this.$store.commit("showTutbar", {text: message});
            this.turnOff();
        },
    }   
}
</script>