<template>
    <v-snackbar
        left
        v-model="snackbar.visible"
        multi-line 
        :color="snackbar.color" 
        :timeout="snackbar.timeout"
        rounded>
        <v-row align="center" justify="center">
            <v-col cols=1>
        <v-icon large dark>mdi-information-outline</v-icon>
            </v-col>
            <v-col cols=11>
        {{ snackbar.text }}
            </v-col>

        </v-row>
    </v-snackbar>
</template>

<script>
export default {
    computed: {
      snackbar() {
        return this.$store.state.tutorialbar
      }
    }
    
}
</script>