<template>  
  <v-dialog max-width="1200" v-model="$store.state.overlays.architectureTable" @click:outside="turnOff()" @keydown.esc="turnOff()" >
      <v-card class="elevation-3" :scrollable="false">
          <v-toolbar flat color="secondary" dark>
              <v-toolbar-title>Architecture table view</v-toolbar-title>
              <v-spacer></v-spacer>
              <v-toolbar-title>Map {{$store.state.selectedMap + 1}}</v-toolbar-title>
          </v-toolbar>
          <v-card-text>
            <v-data-table
              :headers="headers"
              :items="$store.state.Maps[$store.state.selectedMap].architectures"
              class="elevation-1"
              light
            >
              <template v-slot:top>
                <v-container>
                  <v-toolbar-title>Architectures</v-toolbar-title>
                </v-container>
              </template>
              <template v-slot:item.worldWonder={item}>
                <template v-if=item.worldWonder>Yes</template>
                <template v-else>No</template>
              </template>
              <template v-slot:item.edit="{item }">
                <v-icon v-on="on" @click="editArchitecture(item)">mdi-pencil</v-icon>
              </template>
              <template v-slot:item.delete="{ item }">
                    <v-icon @click="deleteArchitecture(item)">mdi-delete</v-icon>
              </template>
            </v-data-table>
          </v-card-text>
      </v-card>
  </v-dialog>
</template>

<script>
export default {
  data() {
    return {
      headers: [
        {text: "Name", value: "name" },
        {text: "Location", value: "location" },
        {text: "Construction date", value: "constructionDate" },
        {text: "Epoch", value: "epoch" },
        {text: "Protection", value: "protection" },
        {text: "Purpose", value: "purpose" },
        {text: "World wonder", value: "worldWonder" },
        {text: "Edit", value: "edit"},
        {text: "Delete", value: "delete"}
      ],
    }
  },
  methods: {
    editArchitecture: function(a){
      this.$store.commit("editOverlay", {name: "viewArchitecture", value: true});
      this.$store.commit("setEditArchitecture", a.id);
    },
    deleteArchitecture: function(a){
      if (confirm('Are you sure you want to delete this architecture?')) {
        if (this.$store.state.tutorial.enabled) {
          this.$store.commit("editTutorial", {name: "step", value: 0});
          this.$store.commit("editTutorial", {name: "enabled", value: false});
          this.$store.commit("editTutorial", {name: "type", value: 0})
          this.$store.commit("editTutorial", {name: "entityId", value: 0})
          var message = `Hooray! You have successfully finished the tutorial! Feel free to repeat this tutorial by accessing
                        the menu in the top right, or try out some of our other tutorials. We hope you have a great time using our app.`;
          this.$store.commit("showTutbar", {text: message, timeout: 15000}); 
          this.turnOff();
        } 
        this.$store.commit("deleteArchitecture", {architecture: a});
      }
    },
    turnOff: function() {
      if (this.$store.state.tutorial.enabled && this.$store.state.tutorial.step == 6) {
        this.$store.commit("editTutorial", {name: "step", value: 5});
        var message = `You are so close! Please return to the table view by pressing the button in the control, highlighted in green.
                      If you wish to abort the tutorial, press the button End tutorial on the top right.`;
        this.$store.commit("showTutbar", {text: message});
      }
      this.$store.commit("editOverlay", {name: "architectureTable", value: false});
    }
  }
}
</script>

