<template>
    <v-dialog max-width="1200" v-model="$store.state.overlays.viewArchitecture" @click:outside="turnOff()" @keydown.esc="turnOff()" :scrollable="false">
        <v-card v-if="architecture != undefined" class="elevation-3" >
            <v-toolbar flat color="secondary" dark>
            <v-toolbar-title>Architecture</v-toolbar-title>
            <v-spacer></v-spacer>
            <v-toolbar-title>Map {{$store.state.selectedMap + 1}}</v-toolbar-title>
            </v-toolbar>
            <v-card-text>
                <v-form v-model="valid" ref="form">
                    <v-row>
                        <v-col cols="8">
                            <v-row>
                                <v-col>
                                    <v-text-field
                                    dense
                                    label="Name"
                                    v-model="architecture.name"
                                    :rules="[rules.required]"
                                    :readonly="!isEditing"
                                    />
                                </v-col>
                                <v-col>
                                    <v-autocomplete
                                    dense
                                    label="Architect"
                                    :item-text="a => a.name + ' ' + a.surname"
                                    item-value="id"
                                    :items="$store.state.Maps[$store.state.selectedMap].architects"
                                    v-model="architecture.architect"
                                    :rules="[rules.required]"
                                    :readonly="!isEditing"
                                    />
                                </v-col>
                            </v-row>
                            <v-row>
                                <v-col>
                                    <v-text-field
                                    dense
                                    label="Location"
                                    v-model="architecture.location"
                                    :rules="[rules.required]"
                                    :readonly="!isEditing"
                                    />
                                </v-col>
                            </v-row>
                            <v-row>
                                <v-col>
                                    <v-autocomplete
                                    label="Epoch"
                                    v-model="architecture.epoch"
                                    :items="$store.state.periods"
                                    :rules="[rules.required]"
                                    :readonly="!isEditing"
                                    />
                                </v-col>
                                <v-col>
                                    <v-text-field
                                    v-model="architecture.constructionDate"
                                    label="Construction date"
                                    :rules="[rules.required]"
                                    :readonly="!isEditing" />                      
                                </v-col>
                                <v-col>
                                    <v-checkbox
                                    v-model="architecture.worldWonder"
                                    label="World wonder"
                                    :readonly="!isEditing"
                                    ></v-checkbox>
                                </v-col>
                            </v-row>
                            <v-row>
                                <v-col>
                                    <v-autocomplete
                                    dense
                                    label="Under protection"
                                    v-model="architecture.protection"
                                    :items="$store.state.protection"
                                    :readonly="!isEditing"
                                    />
                                </v-col>
                                <v-col>
                                    <v-text-field
                                    dense
                                    label="Purpose"
                                    v-model="architecture.purpose"
                                    :rules="[rules.required]"
                                    :readonly="!isEditing"
                                    />
                                </v-col>
                            </v-row>
                            <v-row>
                                <v-col>
                                    <v-textarea
                                    dense
                                    label="Description"
                                    v-model="architecture.description"
                                    :rules="[rules.required]"
                                    :readonly="!isEditing"
                                    />
                                </v-col>
                            </v-row>
                        </v-col>
                        <v-col cols="4" align="center" justify="center">
                            <v-row v-if="this.showPicture()">
                                <v-col>
                                    <v-img
                                    :src="architecture.picture"
                                    max-height=400
                                    max-width=400
                                    contain
                                    />
                                </v-col>
                            </v-row>
                            <v-row v-else align="center" justify="center">
                                <v-card tile width=400 height=400>
                                    <v-img
                                        :src="$store.state.predefinedPicture"
                                        class="align-center white--text justify-center"
                                        height="400" width="400">
                                    </v-img>
                                </v-card>
                            </v-row>
                            <v-row v-if="isEditing">
                                <v-col>
                                    <v-menu 
                                        v-model="menu3"
                                        :close-on-content-click="false"
                                        offset-y
                                        :nudge-width="200"
                                        :close-on-click="false"
                                        >
                                        <template v-slot:activator="{ on }">
                                            <v-btn block color="success" v-on="on">Change picture</v-btn>
                                        </template>
                                        <v-card>
                                            <v-card-text>
                                            <v-row>
                                                <v-col>
                                                    <v-textarea outlined v-model="pictureUrl" label="Picture url" />
                                                </v-col>
                                            </v-row>
                                            <v-row>
                                                <v-col>
                                                    <v-btn color="success" v-on:click="confirmChange()" block>Confirm</v-btn>
                                                </v-col>
                                                <v-col>
                                                    <v-btn color="error" v-on:click="cancelChange()" block>Cancel</v-btn>
                                                </v-col>
                                            </v-row>
                                            </v-card-text>
                                        </v-card>
                                    </v-menu>
                                </v-col>
                                <v-col>
                                    <v-btn block color="error" v-on:click="removePicture()" >Remove picture</v-btn>
                                </v-col>
                            </v-row>
                        </v-col>
                    </v-row>
                        <v-btn v-if="isEditing" block v-on:click="saveChanges()" color="success">Save changes</v-btn>
                        <v-btn v-else block v-on:click="startEdit()" color="info">Edit</v-btn>                
                </v-form>
            </v-card-text>
        </v-card>
    </v-dialog>
</template>


<script>
export default {
    data() {
        return {
            rules: {
                required: value => !!value || "Field is required."
            },
            valid: true,
            menu: false,
            menu2: false,
            menu3: false,
            pictureUrl : "",
            isEditing: false,
        }
    },
    computed: {
        architecture: {
            get() {
                return Object.assign({}, this.$store.getters.editedArchitecture);
            }
        },
        period: {
            get() {
                return Object.assign({}, this.$store.getters.periods)
            }
        }
    },
    methods: {
        turnOff() {
            if (this.$store.state.tutorial.enabled && this.$store.state.tutorial.step == 4) {
                var message = `Please return to the edit architecture window by pressing the green button in the control, or 
                                cancel the tutorial by pressing the End tutorial button on the top right.`
                this.$store.commit("showTutbar", {text: message});
                this.$store.commit("editTutorial", {name: "step", value: 3});
            }
            this.$store.commit("editOverlay", {name: "viewArchitecture", value: false});
            this.$store.commit("setEditArchitecture", -1);
            this.isEditing = false;
            this.menu3 = false;
        },
        saveChanges() {
            fetch("https://nominatim.openstreetmap.org/search?q=" + this.architecture.location + "&format=json")
                .then(res => { return res.json()})
                .then(res => {
                    if (res.length == 0) {
                        this.$store.commit('showSnackbar', {text: "No location found for specified address!", color: "error", })
                        return;
                    }
                    var result = res[0];
                    this.$set(this.architecture, 'latLng', {lat: result.lat, lng: result.lon});
                    this.$store.commit('editArchitecture', this.architecture)
                    this.$store.commit('showSnackbar', {text: "Successfully edited architecture.", color: "success", })
                    if (this.$store.state.tutorial.enabled) {
                        this.$store.commit('editTutorial', {name: "step", value: 5});
                        var message = `Your changes were saved! If you updated the location, the marker should have moved to the new location.
                                        You can also view architecture in a table view. 
                                        Return to the main window by pressing Escape or clicking outside the Card.
                                        Then, press the Table button in the Control next to the architects, highlighted in green.`
                        this.$store.commit('showTutbar', {text: message}); 
                    }
                    this.isEditing = false;
                })
        },
        startEdit() {
            this.isEditing = true;
            this.pictureUrl = this.architecture.picture;
        },
        confirmChange() {
            this.architecture.picture = this.pictureUrl;
            this.menu3 = false;
        },
        cancelChange() {
            this.pictureUrl = this.architecture.picture;
            this.menu3 = false;
        },
        removePicture() {
            this.architecture.picture = "";
            this.pictureUrl = "";
            this.menu3 = false;
            this.$forceUpdate();
        },
        showPicture() {
            return (this.architecture.picture != "");
        }
    }
}
</script>

<style scoped>

</style>