<template>
    <v-dialog max-width="1200" v-model="$store.state.overlays.addArchitecture" @click:outside="turnOff()" @keydown.esc="turnOff()" >
        <v-card v-if="architecture != undefined" class="elevation-3" :scrollable="false">
            <v-toolbar flat color="secondary" dark>
                <v-toolbar-title>Add new architecture</v-toolbar-title>
                <v-spacer></v-spacer>
                <v-toolbar-title>Map {{$store.state.selectedMap + 1}}</v-toolbar-title>
            </v-toolbar>
            <v-card-text>
                <v-form v-model="valid" ref="form">
                    <v-row>
                        <v-col cols="8">
                            <v-row>
                                <v-col>
                                    <v-text-field
                                    dense
                                    label="Name"
                                    v-model="architecture.name"
                                    :rules="[rules.required]"
                                    />
                                </v-col>
                                <v-col>
                                    <v-autocomplete
                                    dense
                                    label="Architect"
                                    :item-text="a => a.name + ' ' + a.surname"
                                    item-value="id"
                                    :items="$store.state.Maps[$store.state.selectedMap].architects"
                                    v-model="architecture.architect"
                                    :rules="[rules.required]"
                                    />
                                </v-col>
                            </v-row>
                            <v-row>
                                <v-col>
                                <v-text-field
                                dense
                                label="Location"
                                v-model="architecture.location"
                                :rules="[rules.required]"
                                />
                                </v-col>
                                <v-col>
                                <v-text-field
                                dense
                                label="Unique ID"
                                v-model="architecture.id"
                                :rules="[rules.required]"
                                />
                                </v-col>
                            </v-row>
                            <v-row>
                                <v-col>
                                    <v-autocomplete
                                    label="Epoch"
                                    v-model="architecture.epoch"
                                    :items="$store.state.periods"
                                    :rules="[rules.required]"
                                    />
                                </v-col>
                                <v-col>
                                    <v-text-field
                                    v-model="architecture.constructionDate"
                                    label="Construction date"
                                    :rules="[rules.required]"
                                        />                      
                                </v-col>
                                <v-col>
                                    <v-checkbox
                                    v-model="isBC"
                                    label="BC"
                                    ></v-checkbox>
                                </v-col>
                                <v-col>
                                    <v-checkbox
                                    v-model="architecture.worldWonder"
                                    label="World wonder"
                                    ></v-checkbox>
                                </v-col>
                            </v-row>
                            <v-row>
                                <v-col>
                                    <v-autocomplete
                                    dense
                                    label="Under protection"
                                    v-model="architecture.protection"
                                    :items="$store.state.protection"
                                    />
                                </v-col>
                                <v-col>
                                    <v-text-field
                                    dense
                                    label="Purpose"
                                    v-model="architecture.purpose"
                                    :rules="[rules.required]"
                                    />
                                </v-col>
                            </v-row>
                            <v-row>
                                <v-col>
                                    <v-textarea
                                    dense
                                    label="Description"
                                    v-model="architecture.description"
                                    :rules="[rules.required]"
                                    />
                                </v-col>
                            </v-row>
                        </v-col>

                        <v-col cols="4">
                            <v-row>
                                <v-col align="center" justify="center">
                            <v-row v-if="this.showPicture()">
                                <v-col>
                                    <v-img
                                    :src="architecture.picture"
                                    max-height=400
                                    max-width=400
                                    contain
                                    />
                                </v-col>
                            </v-row>
                            <v-row v-else align="center" justify="center">
                                <v-card tile width=400 height=400>
                                    <v-img
                                        :src="$store.state.predefinedPicture"
                                        class="align-center white--text justify-center"
                                        height="400" width="400">
                                    </v-img>
                                </v-card>
                            </v-row>
                        </v-col>
                        <v-col>
                        <v-menu 
                            v-model="menu3"
                            :close-on-content-click="false"
                            offset-y
                            :nudge-width="200"
                            :close-on-click="false"
                            >
                            <template v-slot:activator="{ on }">
                                <v-btn block color="success" v-on="on">Change picture</v-btn>
                            </template>
                            <v-card>
                                <v-card-text>
                                <v-row>
                                    <v-col>
                                        <v-textarea outlined v-model="pictureUrl" label="Picture url" />
                                    </v-col>
                                </v-row>
                                <v-row>
                                    <v-col>
                                        <v-btn color="success" v-on:click="confirmChange()" block>Confirm</v-btn>
                                    </v-col>
                                    <v-col>
                                        <v-btn color="error" v-on:click="cancelChange()" block>Cancel</v-btn>
                                    </v-col>
                                </v-row>
                                </v-card-text>
                            </v-card>
                        </v-menu>
                    </v-col>
                    <v-col>
                        <v-btn block color="error" v-on:click="removePicture()" >Remove picture</v-btn>
                    </v-col>
                    </v-row>
                    </v-col>
                </v-row>
                <v-row>
                    <v-btn block v-on:click="addArchitecture()" color="success">Add architecture</v-btn>
                </v-row>
                </v-form>
            </v-card-text>
        </v-card>
    </v-dialog>
</template>

<script>
export default {
    data() {
        return {
            isBC: false,
            architecture: {
                name: "",
                architect: "",
                description: "",
                location: "",
                constructionDate: "",
                epoch: "",
                protection: "",
                purpose: "",
                worldWonder: "",
                picture: "",
                latLng: {
                    lat: 0,
                    lng: 0
                }
            },
            rules: {
                required: value => !!value || "Field is required."
            },
            valid: true,
            menu: false,
            menu2: false,
            menu3: false,
            pictureUrl: "",
            
        }
    },
    methods: {
        turnOff() {
            if (this.$store.state.tutorial.enabled && this.$store.state.tutorial.step == 2) {
                var message = `Please return to the Add Architecture window by pressing the button on the menu, or 
                                cancel the tutorial by pressing the End tutorial button on the top right.`
                this.$store.commit("showTutbar", {text: message});
                this.$store.commit("editTutorial", {name: "step", value: 1});
            }
            this.$refs.form.resetValidation();
            this.isBC = false,
            this.architecture.name = "";
            this.architecture.id = "";
            this.architecture.architect = "";
            this.architecture.description = "";
            this.architecture.location = "";
            this.architecture.constructionDate = "";
            this.architecture.epoch = "";
            this.architecture.protection = "";
            this.architecture.purpose = "";
            this.architecture.worldWonder = false;
            this.architecture.picture = "";
            this.$store.commit("editOverlay", {name: "addArchitecture", value: false});
            this.pictureUrl = "";
        },
        addArchitecture() {
            this.$refs.form.validate();
            if (!this.valid) {
                this.$store.commit('showSnackbar', {text: "Please fill in all the reqired fields!", color: "error"});
                return;
            }
            if(this.isBC){
                this.architecture.constructionDate = this.architecture.constructionDate + " BC"; 
            }
            console.log(this.architecture);
            fetch("https://nominatim.openstreetmap.org/search?q=" + this.architecture.location + "&format=json")
                .then(res => { return res.json() })
                .then(res => {
                    var result = res[0]; //api vrati vise rezultata, prvi okej
                    this.architecture.latLng.lat = result.lat;
                    this.architecture.latLng.lng = result.lon;
                    this.$store.commit('addArchitecture', this.architecture);
                    this.$store.commit('showSnackbar', {text: "Successfully added architecture!", color: "success"})
                    if (this.$store.state.tutorial.enabled) {
                        this.$store.commit('editTutorial', {name: "step", value: 3});
                        var message = `Hooray! You have added an architecture. You can now see it on the map, and you can drag and drop
                                        to automatically update it's location. If you drag the marker to a location that is not valid, it will
                                        automatically be moved back to the last valid location. Next, click the green button in the Control panel
                                        on the right to enter editing mode.`
                        this.$store.commit('showTutbar', {text: message}); 
                        this.$store.commit('editTutorial', {name: "entityId", value: this.architecture.id})
                    }
                    this.turnOff();
                })
        },
        confirmChange() {
            this.architecture.picture = this.pictureUrl;
            this.menu3 = false;
        },
        cancelChange() {
            this.pictureUrl = this.architecture.picture;
            this.menu3 = false;
        },
        removePicture() {
            this.architecture.picture = "";
            this.pictureUrl = this.architecture.picture;
            this.menu3 = false;
            this.$forceUpdate();
        },
        showPicture() {
            return (this.architecture.picture != "");
        }
    }
}
</script>

<style scoped>

</style>