<template>
  <v-app title="HCI Architectures">
    <Snackbar />
    <Tutorialbar />
    <ArchitectView  />
    <ArchitectAdd  />
    <ArchitectureAdd  />
    <ArchitectureView />
    <ArchitectTable />
    <ArchitectureTable />
    <Import />
    <Tutorial />
    <Export />
    <Documentation />
    <v-content>
    <Menu />
      <v-row class="fill-height">
        <v-col cols=9>
          <Map />
        </v-col>
        <v-col cols=3>
          <Control />
        </v-col>
      </v-row>
    </v-content>
  </v-app>
</template>

<script>
import Menu from "./components/Menu"
import Snackbar from "./components/Snackbar"
import Map from "./components/Map"
import Control from "./components/Control"
import ArchitectView from "./components/Architects/ArchitectView"
import ArchitectAdd from "./components/Architects/ArchitectAdd"
import ArchitectureView from "./components/Architectures/ArchitectureView"
import ArchitectureAdd from "./components/Architectures/ArchitectureAdd"
import ArchitectTable from "./components/Architects/ArchitectTable"
import ArchitectureTable from "./components/Architectures/ArchitectureTable"
import Import from "./components/Import"
import Tutorial from "./components/Tutorial"
import Tutorialbar from "./components/Tutorialbar"
import Export from "./components/Export"
import Documentation from "./components/Documentation"

export default {
  name: 'App',

  components: {
    Menu,
    Map,
    Control,
    ArchitectView,
    ArchitectAdd,
    ArchitectureAdd,
    ArchitectureView,
    ArchitectTable,
    ArchitectureTable,
    Snackbar,
    Import,
    Tutorial,
    Tutorialbar,
    Export,
    Documentation
  },

  data() {
    return {
    }
  }
};
</script>
